#out{
	height: 150px;
	width: 150px;
	background-color: red;
	position: relative;
	margin:auto;
}

#out div{
	position: relative;
	top:15%;
	left:15%;
}
#square{
	display: none;
	height: 100px;
	width: 100px;
	background-color: white;
}

#triangle{
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid white;
	
}
#circle{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: white;
	display: none;
}

